dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
fourier.cabal
*~

# Project
.idea
data
out.wav

# Latex
*.log
*.out
*.toc
*.bbl
*.blg
Output
Output_grep

mainDocument.pdf
